.productos-container {
  width: 100%;
  display: block;
}

.imagenPrincipal{
  width: 760px;
  height: auto;
  display: block;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 20px;
  border: solid black 1px;
  }
/* En tu archivo CSS global (ej: App.css) */



a {
  color: inherit;
  text-decoration: none;
}