.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 40px;
    padding: 20px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 24px;
    padding: 12px;
  }
}