.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  min-height: 70vh;
  padding: 40px 20px;
  flex-wrap: wrap;
}

.descripcion {
  border: solid black 1px;
  border-radius: 12px;
  background-color: var(--color-fondo);
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  padding: 16px;
  color: #000;
  font-size: 1.5rem;
  line-height: 1.6;
  max-width: 380px;
  padding-top: 16px;
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .descripcion {
    text-align: center;
    padding-top: 0;
  }
}